.App {
  display: flex;
  width: 98vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.headerContainer {
  background-color: #122932;
  width: 100%;
  height: 10%;
  margin: 1%;
  border-radius: 10px;
}

.titleText {
  text-align: center;
  color: #478978;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  background-color: #122932;
  margin: 1%;
  border-radius: 10px;
}